In [1]:
import pandas as pd 
from sklearn import linear_model

In [4]:
df = pd.read_csv('homeprices.csv')
df.head(3)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000

Since number of bedrooms are missing for the 3rd row, we'll be taking a median and filling it.

In [6]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

In [10]:
# fill all NAN values with mediam
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [15]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']].values,df.price)

LinearRegression()

In [16]:
# checking coefficients
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [17]:
reg.intercept_

383724.99999999994

In [18]:
reg.predict([[3000,3,40]])

array([444400.])

In [19]:
reg.predict([[2500,4,5]])

array([588625.])

In [20]:
# testing the formula used by the above function
# y = m1x1+m2x2+m3x3+b
137.25*3000 -26025*3 -6825*40 + 383724.99999999994

444399.99999999994