#### Predict the hiring Salary from the salary.csv.
##### File contains details such as experience, test score and iterview score

In [1]:
import pandas as pd 
from sklearn import linear_model

In [2]:
df = pd.read_csv('salary.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [4]:
from word2number import w2n

In [5]:
# fill all NAN values in experience with "zero"
df.experience = df.experience.fillna('zero')

In [7]:
# convert string to integer in experience
df.experience = df.experience.apply(w2n.word_to_num)

In [9]:
df.head(3)

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000

In [12]:
# calculating medium of test_score and replacing NAN with integer
import math
mean_test_scores = math.floor(df['test_score(out of 10)'].mean()) 
mean_test_scores

7

In [14]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(mean_test_scores)

In [15]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']].values,df['salary($)'])

LinearRegression()

In [17]:
reg.predict([[2,9,6]])

array([53713.86677124])

In [18]:
reg.predict([[12,10,10]])

array([93747.79628651])