In [1]:
import pandas as pd 
df = pd.read_csv('salary.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [2]:
# dividing the data into inputs(independent) and target(dependent) variables
inputs = df.drop('salary_more_then_100k',axis='columns')
target = df['salary_more_then_100k']

In [7]:
# now we know that machine learning only works on numbers and not labels
# so we need to convert inputs to numbers(categorically)
# using LabelEncoder, OneHotEncoding and Logistic Regression
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [8]:
inputs.company = lb.fit_transform(inputs.company)
inputs.job = lb.fit_transform(inputs.job)
inputs.degree = lb.fit_transform(inputs.degree)

In [10]:
inputs

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

**Company:** 
* 2-google, 
* 0-abc pharma, 
* 1-facebook
  
**job:** 
* 2-sales executive, 
* 0-business manager, 
* 1-computer programmer
  
**degree:** 
* 0-bachelors, 
* 1-master

In [11]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [23]:
model.fit(inputs.values,target)

DecisionTreeClassifier()

In [26]:
model.predict([[0,0,1]])

array([1], dtype=int64)

In [27]:
model.score(inputs.values,target)

1.0

In [28]:
# creating another model just to test it with lesser dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(inputs,target,test_size=0.1)

In [29]:
md = tree.DecisionTreeClassifier()
md.fit(x_train.values,y_train)

DecisionTreeClassifier()

In [30]:
md.score(x_test.values,y_test)

0.5

In [31]:
x_test

   company  job  degree
8        0    0       0
0        2    2       0

In [33]:
md.predict([[0,0,0]])

array([1], dtype=int64)

In [34]:
model.predict([[0,0,0]])

array([0], dtype=int64)

# Need larger datasets